accelerate==0.18.0
clip-interrogator==0.3.5
diffusers==0.14.0
flask
flask_cors
ftfy
googletrans==4.0.0rc1
gradio
gunicorn
moviepy==1.0.3
nvidia-ml-py3
passlib==1.7.4
python-dotenv
pyjwt==2.6.0
realesrgan==0.2.5.0
requests
sendgrid==6.9.7
sentencepiece==0.1.97
torch==2.0.0
triton==2.0.0.dev20221120
transformers==4.26.1
xformers==0.0.18