diffusers
flask
flask_cors
ftfy
gradio==3.4.1
gunicorn
moviepy==1.0.3
nvidia-ml-py3
opencv-python==4.6.0.66
python-dotenv
realesrgan==0.3.0
sentencepiece==0.1.97
stable_diffusion_videos==0.6.2
torch==1.12.1
torchvision==0.14.0
transformers==4.23.1